.input-app {
    margin-left: 100px;
}

.input-app-first {
    margin-top: 20px;
    margin-left: 100;
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 5px;
    border-color: #1F2D30;
}

.input-app-second {
    margin-top: 10px;
    margin-left: 100;
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 5px;
    border-color: #1F2D30;
}

.input-app-third {
    margin-top: 10px;
    margin-left: 100;
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 5px;
    border-color: #1F2D30;
}

.table-app {
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.titulo-app {
    text-align: center;
    color: #18ACC4;
    font-family: 'Roboto', sans-serif;
}