.input-app {
    margin-left: 100px;
}

.input-app-first {
    margin-top: 20px;
    margin-left: 100;
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 5px;
    border-color: #1F2D30;
}

.input-app-second {
    margin-top: 10px;
    margin-left: 100;
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 5px;
    border-color: #1F2D30;
}

.input-app-third {
    margin-top: 10px;
    margin-left: 100;
    text-align: center;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 5px;
    border-color: #1F2D30;
}

.table-app {
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    td {
        padding: 20px 20px;
    }
}

.titulo-app {
    text-align: center;
    color: #18ACC4;
    font-family: 'Roboto', sans-serif;
}

.img-cursos {
    max-width: 150px;
}

.button-search {
    background-color: #2366f8;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 10px;
}